html {
  height: 100%;
  width: 100%;
}
body {
 background-color: #30526D;
 
}
/* header*/
header {
 background-color: #2B4559;
 margin: 0px;
 padding: 50px;
 text-align: center;
 color: #CCD7E4;
 font-family: 'Monaco', monospace;
}

header h1 {
 font-size: 48px;
}

header h2 {
  font-size: 16px;
  
}

/*main*/

main h3 {
  text-align: center;
  font-family: 'Monaco', monospace;
}

hr {
  height: 2px;
  background-color: black;
  border: 2px;
  
}
main {
  margin: 25%;
  text-align: center;
}

img {
  margin: auto;
}

/* footer*/
footer {
  background-color:#2B4559;
  text-align: center;
  margin: 0px;
 padding: 50px;
 text-align: center;
 color: #CCD7E4;
 font-family: 'Monaco', monospace;
}

/* ordered and unordered list*/
ul {
  text-align: center;
}

ol {
  text-align: center;
 
}

/* link psuedo-class */

a:link {color: blue;}
a:visited {color:#006400;}
a:hover {color:red;}
a:active {color: #3CB371;}
